@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  max-width: 100vw;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Raleway;
  font-size: 16px;
  overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

* p {
  color: #fff;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
main {
  background: #E5E5E5;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}
.container-small {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  margin: 0 auto;
}

.header {
  padding: 30px 30px 30px 20px;
  display: flex;
  flex-direction: column;
  background: #FAF6F6;
}
.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__down {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.burger-menu {
  cursor: pointer;
}

.search-wrap {
  width: max-content;
}

.search {
  display: flex;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  gap: 1%;
  flex: 10% 90%;
  cursor: pointer;
  max-width: 360px;
  width: 100%;
}
.search__icon {
  display: block;
  align-self: center;
  background: rgba(70, 77, 83, 0.1019607843);
  border: 2px solid #fff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  max-height: 33px;
}
.search__icon img {
  margin: 0;
  width: 100%;
  height: 100%;
}

.searchTerm {
  background: #FFFFFF;
  border-radius: 0 20px 20px 0;
  padding: 2% 2% 2% 0%;
  border: none;
}

.shop {
  display: flex;
  border-radius: 50%;
  background: #FAF6F6;
  width: 43px;
  height: 43px;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.help {
  display: flex;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 1%;
  align-items: center;
  gap: 5px;
}

.account {
  display: flex;
  gap: 10px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 1%;
  align-items: center;
}
.switch {
  position: relative;
  display: block;
  width: 50px;
  height: 11px;
}
.switch-wrapper {
  display: flex;
  gap: 5%;
  align-items: center;
}
.switch-slider {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D7D7D7;
  transition: 0.4s;
}
.switch-slider:before {
  position: absolute;
  content: "→";
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
  align-self: center;
  margin: 0 auto;
  background: #FF891B no-repeat;
  transition: 0.4s;
}

.switch input {
  display: none;
}

input:checked + .switch-slider {
  background-color: #FF891B;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #F09000;
}

input:checked + .switch-slider:before {
  transform: translateX(13px);
}

.switch-slider.round {
  border-radius: 30px;
}
.switch-slider.round:before {
  border-radius: 30px;
}

.dark-text {
  color: #464D53;
}

.section-1 {
  background: url(/src/img/first-page-bg.jpg) no-repeat scroll center/cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.text-block {
  display: flex;
  width: 100%;
  align-self: flex-end;
  padding: 0 2% 0 0;
  color: #FAF6F6;
}

.decor {
  width: 50%;
  height: 100%;
  min-height: 60%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.header-text {
  justify-self: center;
  font-weight: 900;
  font-size: 4em;
  line-height: 106%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.subheader-text {
  justify-self: center;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1.25em;
  line-height: 140%;
  letter-spacing: 0.05em;
}

.btn {
  background: #fff;
  border: #fff 1px solid;
  text-transform: uppercase;
  max-width: 290px;
  margin-top: 40px;
}
.btn p {
  font-weight: 700;
  font-size: 1em;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #FF891B;
  padding: 0.75em 0;
}

.section-2 {
  height: 100%;
  width: 100%;
  background: #E5E5E5;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.color-blocks {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: stretch;
  height: 100%;
  flex: 1 1 33.333%;
}
.color-blocks div {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  gap: 1%;
  padding: 3%;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  background: #6ED5EB;
}
.color-blocks div p {
  align-self: center;
  font-size: 1.25em;
  font-weight: 300;
}
.color-blocks div:first-child {
  background: #5CD9B5;
}
.color-blocks div:last-child {
  background: #FF5555;
}
.color-blocks div span {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}

.big-num {
  font-size: 3em;
}

.phones-wrapper {
  display: flex;
  flex-direction: row;
  flex: 0 1 30% 70%;
  gap: 40px;
  justify-content: space-between;
  align-items: stretch;
}

.phones-left {
  height: 100%;
}

.t-header {
  padding: 1% 0 0 0;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1.25em;
  line-height: 140%;
  letter-spacing: 0.05em;
}

.t-subheader {
  font-size: 1.25em;
  padding: 0.4em 0 0 0;
}