.section-3
{
    background: $text-1;
    
    &__wrapper
    {
        //padding: 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__header {
    font-weight: 700;
    font-size: 1.75em;
    line-height: 171%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    }

    &__subheader {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.03em;
    }
}