.header {
    padding: 30px 30px 30px 20px;
display: flex;
flex-direction: column;
background: #FAF6F6;
    &__upper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .help, .account, .shop {
            i{
                font-size: 1.2em;
                color: $text-1;
         
            }
            transition: .3s all;

        }
    }
    &__down
    {
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }
    &-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    max-width: 1300px;
    width: 100%;
    li{
        >a{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            cursor: pointer;
            transition: .3s all;
            i{
                font-size: 1.5em;
                text-align: center;
                color: $text-1;
                transition: .3s all;
            }
            &:hover{
                
                color: $orange;
                i{
                    color: $orange;
                }
            }

        }


    }
    }
}

.burger-menu{
display: none;
background: #fff;
max-width: 380px;
position: absolute;
padding: 3%;
top: 100px;
z-index: 5;

    &.active
    {
display: block;
    }
&__btn {
    cursor: pointer;
    color: $text-1;
    transform: scale(1.4);
    transition: .3s;
    &.active{
        transform: scale(1.7);
        color: $orange;
        z-index: 3;
    }
}
.separator{
    width: 100%;
    height: 1px;
}
.menu{
    a{
        color: $text-1;
        display: flex;
        align-items: center;
    }

    p{
        padding: 4%;
    }
    .arrow{
        // content:'';
        // color: $text-1;
        // width: 8px;
        // height: 8px;
    }


}
}

.account{
&__menu{
    display: none;
    background: #fff;
    max-width: 380px;
    position: absolute;
    padding: 3%;
    top: 100px;
    z-index: 5;
    &.active
        {
    display: block;
        }
    }
    
&__btn {
    display: flex;
    gap: 10px;
    background: $text-2;
    box-shadow: $border;
    border-radius: 20px;
    padding: 1%;
    align-items: center;
    cursor: pointer;
    &.active{
        color: $orange;
        z-index: 3;
    }
    }
    &__arrow {
    }
.separator{
    width: 100%;
    height: 1px;
}
.menu{
    a{
        color: $text-1;
        display: flex;
        align-items: center;
    }

    p{
        padding: 4%;
    }
    .arrow{
        // content:'';
        // color: $text-1;
        // width: 8px;
        // height: 8px;
    }


}
}
.btn-invisible{
    padding: 3% 5%;
    border: $text-1 solid 1px;
    margin-top: 8%;
    font-size: 0.79em;
    
}

.search-wrap {
width: max-content;
}

.search {
    display: flex;
    background: #fff;
    border-radius: 20px;
    box-shadow: $border;
    gap: 1%;
    flex: 10% 90%;
    cursor: pointer;
    max-width: 360px;
    width: 100%;

    &__icon
    {

        display: block;
        align-self: center;
        background: #464d531a;
        border: 2px solid #fff;
        border-radius: 50%;
        width: 100%; 
        height: 100%;
        max-height: 33px;
        img 
        {
            margin: 0;
            width: 100%; 
            height: 100%;
        }
    }
}
.searchTerm {
    background: #FFFFFF;
    border-radius: 0 20px 20px 0;
    padding: 2% 2% 2% 0%;
    border: none;
}
.shop {
    display: flex;
    border-radius: 50%;
    background: #FAF6F6;
    width: 43px;
    height: 43px;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    box-shadow: $border;
    cursor: pointer;
    transition: .3s all;
    &:hover{
        background: $orange;
        i{
        color: $text-2;}
    }
}

.help {
    display: flex;
    background: $text-2;
    box-shadow: $border;
    border-radius: 20px;
    padding: 1%;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    i{
        border-radius: 50%;
    }

    transition: .3s all;
    &:hover{
        
        p
        {
        color: $orange;
        }
        i
        {
        color: $text-2;
        background: $orange;
        }
    }
}


.switch {
    &-wrapper
    {
        display: flex;
        gap: 5%;
        align-items: center;
    }
    position: relative;
    display: block;
    width: 50px;
    height: 11px;

    &-slider {
        position: absolute;
        display: flex;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #D7D7D7;
    
        transition: .4s;
    
        &:before {
            position: absolute;
            content: "→";
            display: flex;
            justify-content: center;
            height: 25px;
            width: 25px;
            align-self: center;
            margin: 0 auto;
            background: $orange no-repeat;
            transition: .4s;
        }

    }
}
  .switch input {display:none;}  
  input:checked + .switch-slider {
    background-color: $orange;
  }
  input:focus + .switch-slider {
    box-shadow: 0 0 1px #F09000;
  }
  input:checked + .switch-slider:before {
    transform: translateX(13px);
  }
  .switch-slider.round {
    border-radius: 30px;
    
    &:before {
        border-radius: 30px;
      }
  }
.dark-text
{
    color: $text-1;
}
