.section-6 {
background: url(/src/img/section-6-bg.png) no-repeat scroll center / cover;
max-height: 100vh;
height: 100%;   
width: 100vw; 


&__block {
display: flex;
justify-content: flex-end;
width: 100%;
height: 100%;
    }
}

.white-block {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 50%;
    height: 50%;

    .btn-invisible {
border: 1px solid $text-1;
    }
}
.t-header {
}
.dark-text {
}
.t-subheader {
}


